[color]
  ui = auto

[alias]
  ll = log --decorate --oneline --graph
  s = status
  ls-ignore = ls-files -v | grep -e '^[^H]'

[user]
  name = beco-ippei
  email = beco.ippei@gmail.com
[core]
  excludesfile = /home/ippei/.gitignore_global
