[color]
  ui = auto

[alias]
  ll = log --decorate --pretty=format:'%C(auto)%h %Cgreen%as%C(auto)%d %Creset%s %Cblue> %an' --graph
  #ll = log --decorate --oneline --graph
  s = status
  ls-ignore = ls-files -v | grep -e '^[^H]'

[user]
	name = ippei.kato
	email = ippei@katou.me
[core]
  excludesfile = ~/.gitignore_global
  editor = /usr/bin/vim
