[color]
  ui = auto

[alias]
  ll = log --decorate --oneline --graph
  s = status
  ls-ignore = ls-files -v | grep -e '^[^H]'

[user]
  #name = beco-ippei
  #email = beco.ippei@gmail.com
  name = vv-ippei
  email = ippei.kato@v-vanguard.co.jp
[core]
  excludesfile = ~/.gitignore_global
  editor = /usr/bin/vim
